<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <title>DeckGen</title>

</head>
<body >
	<h1>Weclome to DeckGen</h1>
	<p>DeckGen is a free randomized deck builder for Magic the Gathering.
		Simply select a color and look up the cards!</p>
	<div>
		
		<input type="button" onclick="location.href='/redDeck';" value="Red" />
		<input type="button" onclick="location.href='/blueDeck';" value="Blue" />
		<input type="button" onclick="location.href='/blackDeck';" value="Black" />
		<input type="button" onclick="location.href='/greenDeck';" value="Green" />
		<input type="button" onclick="location.href='/whiteDeck';" value="White" />

		
	</div>
</body>
</html>
